# Ignore all
*

# Unignore some with extensions
!.gitignore
!go.mod
!go.sum
!*.go

# Unignore all dirs
!*/

# Unignore specific files
!assets/images/vlogo.png
!.travis.yml

# test files
!test/vconvert/find/bin
!test/vconvert/123layer.tar
!test/vconvert/config.yml
